page {
  background-color: #fff;

  .page-wrapper {
    padding: 32rpx;
  }

  .button-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .button {
      width: 320rpx;
      margin-bottom: 32rpx;
    }
  }
}
